
LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVDS;

LOCATE COMP "led[0]" SITE "E16";
LOCATE COMP "led[1]" SITE "D17";
LOCATE COMP "led[2]" SITE "D18";
LOCATE COMP "led[3]" SITE "E18";
LOCATE COMP "led[4]" SITE "F17";
LOCATE COMP "led[5]" SITE "F18";
LOCATE COMP "led[6]" SITE "E17";
LOCATE COMP "led[7]" SITE "F16";

IOBUF PORT "led[0]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[6]" IO_TYPE=LVCMOS25;
IOBUF PORT "led[7]" IO_TYPE=LVCMOS25;

LOCATE COMP "btn" SITE "T1";
IOBUF PORT "btn" IO_TYPE=LVCMOS33;
